<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>3D printer cam</title>
</head>
<br>
<form action="../index.html" method="get">
    <input type="submit" value="To startpage">
</form>

{#
does not work
{% if output is not null and output is not empty %}

<img src="{{ output }}" alt="camImage"/>
<p>{{ output }}</p>

{% else %}

no images to show#}
<img src="{{ output }}"/>
<img src="{{ result }}"/>

<form action="../controller/printerCam.php" method="get">
    <input type="submit" value="update">
</form>
</body>
</html>